concurrent = {{ gitlab_runner_concurrent_jobs }}
check_interval = {{ gitlab_runner_check_interval }}

{% if gitlab_runner_register.json is defined %}
# runner_id = {{ gitlab_runner_register.json.id }}
{% elif gitlab_runner_id is defined %}
# runner_id = {{ gitlab_runner_id }}
{% endif %}

[session_server]
  session_timeout = 1800

[[runners]]
  name = "{{ gitlab_runner_name }}"
  limit = {{ gitlab_runner_limit }}
  url = "{{ gitlab_runner_url }}"
  {% if gitlab_runner_register.json is defined -%}
  token = "{{ gitlab_runner_register.json.token }}"
  {% elif gitlab_runner_token is defined -%}
  token = {{ gitlab_runner_token.stdout_lines[0] }}
  {% endif -%}
  executor = "{{ gitlab_runner_executor }}"
  [runners.custom_build_dir]
  [runners.cache]
    [runners.cache.s3]
    [runners.cache.gcs]
    [runners.cache.azure]
  [runners.docker]
    tls_verify = false
    image = "{{ gitlab_runner_docker_image }}"
    privileged = false
    disable_entrypoint_overwrite = false
    oom_kill_disable = false
    disable_cache = false
    volumes = ["/cache"]
    pull_policy = ["{{ gitlab_runner_docker_pull_policy }}"]
    shm_size = 0
